<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.oclickhandler"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="lineageos.permission.HARDWARE_ABSTRACTION_ACCESS" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
    <uses-sdk android:minSdkVersion="24" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Settings">

        <service android:name=".OclickService" />
        <activity
            android:name=".BluetoothInputSettings"
            android:icon="@drawable/ic_settings_oclick"
            android:launchMode="singleTop"
            android:label="@string/oclick_panel_title">
            <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.device" />
            <meta-data
                android:name="com.android.settings.summary"
                android:value="@string/summary_empty" />
        </activity>

        <receiver android:name=".ServiceUpdateReceiver" >
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="lineageos.intent.action.INITIALIZE_LINEAGE_HARDWARE" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".OclickSearchIndexablesProvider"
            android:authorities="org.lineageos.oclickhandler"
            android:multiprocess="false"
            android:grantUriPermissions="true"
            android:permission="android.permission.READ_SEARCH_INDEXABLES"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER" />
            </intent-filter>
        </provider>

    </application>

</manifest>
